<div class="sideMenu"> 
 <div class="sideMenuPart" id="app-nav-submenu" pageid="app::////PointingToDeclaration//1711373860"> 
  <div class="overview">
   <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/index.html"><span><span>app</span></span></a>
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-0" pageid="app::com.pkoerfer.imdb.base////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.base/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>base</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-0-0" pageid="app::com.pkoerfer.imdb.base/GlideModule///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.base/-glide-module/index.html"><span>Glide</span><wbr><span><span>Module</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-0-1" pageid="app::com.pkoerfer.imdb.base//toIntPercentage/kotlin.Double#/PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.base/to-int-percentage.html"><span>to</span><wbr><span>Int</span><wbr><span><span>Percentage()</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-1" pageid="app::com.pkoerfer.imdb.base.recyclerview////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.base.recyclerview/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>base.</span><wbr><span><span>recyclerview</span></span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-1-0" pageid="app::com.pkoerfer.imdb.base.recyclerview/IdClickListener///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.base.recyclerview/-id-click-listener/index.html"><span>Id</span><wbr><span>Click</span><wbr><span><span>Listener</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-2" pageid="app::com.pkoerfer.imdb.injection////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-2&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.injection/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>injection</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-2-0" pageid="app::com.pkoerfer.imdb.injection//applicationModule/#/PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.injection/application-module.html"><span>application</span><wbr><span><span>Module</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-2-1" pageid="app::com.pkoerfer.imdb.injection//appModule/#/PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.injection/app-module.html"><span>app</span><wbr><span><span>Module</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-3" pageid="app::com.pkoerfer.imdb.ui////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.ui/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>ui</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-3-0" pageid="app::com.pkoerfer.imdb.ui/Constants///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui/-constants/index.html"><span><span>Constants</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-3-1" pageid="app::com.pkoerfer.imdb.ui/IMDBApplication///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui/-i-m-d-b-application/index.html"><span><span>IMDBApplication</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-3-2" pageid="app::com.pkoerfer.imdb.ui/MainActivity///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui/-main-activity/index.html"><span>Main</span><wbr><span><span>Activity</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-4" pageid="app::com.pkoerfer.imdb.ui.movie////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-4&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.ui.movie/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>ui.</span><wbr><span>movie</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-4-0" pageid="app::com.pkoerfer.imdb.ui.movie/MovieDetailFragment///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.movie/-movie-detail-fragment/index.html"><span>Movie</span><wbr><span>Detail</span><wbr><span><span>Fragment</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-5" pageid="app::com.pkoerfer.imdb.ui.popularmovies////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-5&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.ui.popularmovies/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>ui.</span><wbr><span><span>popularmovies</span></span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-5-0" pageid="app::com.pkoerfer.imdb.ui.popularmovies/MoviesFragment///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies/-movies-fragment/index.html"><span>Movies</span><wbr><span><span>Fragment</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-6" pageid="app::com.pkoerfer.imdb.ui.popularmovies.adapter////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-6&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.ui.popularmovies.adapter/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>ui.</span><wbr><span>popularmovies.</span><wbr><span>adapter</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-6-0" pageid="app::com.pkoerfer.imdb.ui.popularmovies.adapter/MovieAdapter///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.adapter/-movie-adapter/index.html"><span>Movie</span><wbr><span><span>Adapter</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-6-1" pageid="app::com.pkoerfer.imdb.ui.popularmovies.adapter/MovieDiffUtil///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.adapter/-movie-diff-util/index.html"><span>Movie</span><wbr><span>Diff</span><wbr><span><span>Util</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-6-2" pageid="app::com.pkoerfer.imdb.ui.popularmovies.adapter/MovieLoadStateAdapter///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.adapter/-movie-load-state-adapter/index.html"><span>Movie</span><wbr><span>Load</span><wbr><span>State</span><wbr><span><span>Adapter</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-6-3" pageid="app::com.pkoerfer.imdb.ui.popularmovies.adapter/SearchDiffUtilCallback///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.adapter/-search-diff-util-callback/index.html"><span>Search</span><wbr><span>Diff</span><wbr><span>Util</span><wbr><span><span>Callback</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-6-4" pageid="app::com.pkoerfer.imdb.ui.popularmovies.adapter/SearchResultsAdapter///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.adapter/-search-results-adapter/index.html"><span>Search</span><wbr><span>Results</span><wbr><span><span>Adapter</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-7" pageid="app::com.pkoerfer.imdb.ui.popularmovies.viewholder////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-7&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.ui.popularmovies.viewholder/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>ui.</span><wbr><span>popularmovies.</span><wbr><span>viewholder</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-7-0" pageid="app::com.pkoerfer.imdb.ui.popularmovies.viewholder/MoviesFooterViewHolder///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.viewholder/-movies-footer-view-holder/index.html"><span>Movies</span><wbr><span>Footer</span><wbr><span>View</span><wbr><span><span>Holder</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-7-1" pageid="app::com.pkoerfer.imdb.ui.popularmovies.viewholder/MovieViewHolder///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.viewholder/-movie-view-holder/index.html"><span>Movie</span><wbr><span>View</span><wbr><span><span>Holder</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-7-2" pageid="app::com.pkoerfer.imdb.ui.popularmovies.viewholder/SearchResultViewHolder///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.ui.popularmovies.viewholder/-search-result-view-holder/index.html"><span>Search</span><wbr><span>Result</span><wbr><span>View</span><wbr><span><span>Holder</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-8" pageid="app::com.pkoerfer.imdb.viewmodel////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-8&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.pkoerfer.imdb.viewmodel/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>imdb.</span><wbr><span>viewmodel</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-8-0" pageid="app::com.pkoerfer.imdb.viewmodel/MovieViewModel///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="app/com.pkoerfer.imdb.viewmodel/-movie-view-model/index.html"><span>Movie</span><wbr><span>View</span><wbr><span><span>Model</span></span></a>
    </div> 
   </div> 
  </div> 
 </div>  
 <div class="sideMenuPart" id="data-nav-submenu" pageid="data::////PointingToDeclaration//862080361"> 
  <div class="overview">
   <span class="navButton" onclick="document.getElementById(&quot;data-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="data/index.html"><span><span>data</span></span></a>
  </div> 
  <div class="sideMenuPart" id="data-nav-submenu-0" pageid="data::com.pkoerfer.data////PointingToDeclaration//862080361"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;data-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="data/com.pkoerfer.data/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>data</span></a>
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-0-0" pageid="data::com.pkoerfer.data/Resource///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data/-resource/index.html"><span><span>Resource</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-0-1" pageid="data::com.pkoerfer.data/ResourceState///PointingToDeclaration//862080361"> 
    <div class="overview">
     <span class="navButton" onclick="document.getElementById(&quot;data-nav-submenu-0-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="data/com.pkoerfer.data/-resource-state/index.html"><span>Resource</span><wbr><span><span>State</span></span></a>
    </div> 
    <div class="sideMenuPart" id="data-nav-submenu-0-1-0" pageid="data::com.pkoerfer.data/ResourceState.ERROR///PointingToDeclaration//862080361"> 
     <div class="overview">
      <a href="data/com.pkoerfer.data/-resource-state/-e-r-r-o-r/index.html"><span><span>ERROR</span></span></a>
     </div> 
    </div> 
    <div class="sideMenuPart" id="data-nav-submenu-0-1-1" pageid="data::com.pkoerfer.data/ResourceState.SUCCESS///PointingToDeclaration//862080361"> 
     <div class="overview">
      <a href="data/com.pkoerfer.data/-resource-state/-s-u-c-c-e-s-s/index.html"><span><span>SUCCESS</span></span></a>
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="data-nav-submenu-1" pageid="data::com.pkoerfer.data.entities////PointingToDeclaration//862080361"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;data-nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="data/com.pkoerfer.data.entities/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>data.</span><wbr><span>entities</span></a>
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-0" pageid="data::com.pkoerfer.data.entities/Genre///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-genre/index.html"><span><span>Genre</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-1" pageid="data::com.pkoerfer.data.entities/Movie///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-movie/index.html"><span><span>Movie</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-2" pageid="data::com.pkoerfer.data.entities/MovieCollection///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-movie-collection/index.html"><span>Movie</span><wbr><span><span>Collection</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-3" pageid="data::com.pkoerfer.data.entities/MovieDetails///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-movie-details/index.html"><span>Movie</span><wbr><span><span>Details</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-4" pageid="data::com.pkoerfer.data.entities/MovieListResponse///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-movie-list-response/index.html"><span>Movie</span><wbr><span>List</span><wbr><span><span>Response</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-5" pageid="data::com.pkoerfer.data.entities/ProductionCompany///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-production-company/index.html"><span>Production</span><wbr><span><span>Company</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-6" pageid="data::com.pkoerfer.data.entities/ProductionCountry///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-production-country/index.html"><span>Production</span><wbr><span><span>Country</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="data-nav-submenu-1-7" pageid="data::com.pkoerfer.data.entities/SpokenLanguage///PointingToDeclaration//862080361"> 
    <div class="overview">
     <a href="data/com.pkoerfer.data.entities/-spoken-language/index.html"><span>Spoken</span><wbr><span><span>Language</span></span></a>
    </div> 
   </div> 
  </div> 
 </div>  
 <div class="sideMenuPart" id="repository-nav-submenu" pageid="repository::////PointingToDeclaration//1635888265"> 
  <div class="overview">
   <span class="navButton" onclick="document.getElementById(&quot;repository-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="repository/index.html"><span><span>repository</span></span></a>
  </div> 
  <div class="sideMenuPart" id="repository-nav-submenu-0" pageid="repository::com.pkoerfer.repository////PointingToDeclaration//1635888265"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;repository-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="repository/com.pkoerfer.repository/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>repository</span></a>
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-0-0" pageid="repository::com.pkoerfer.repository/Remote///PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository/-remote/index.html"><span><span>Remote</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-0-1" pageid="repository::com.pkoerfer.repository/Repository///PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository/-repository/index.html"><span><span>Repository</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-0-2" pageid="repository::com.pkoerfer.repository/TokenInterceptor///PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository/-token-interceptor/index.html"><span>Token</span><wbr><span><span>Interceptor</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="repository-nav-submenu-1" pageid="repository::com.pkoerfer.repository.injection////PointingToDeclaration//1635888265"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;repository-nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="repository/com.pkoerfer.repository.injection/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>repository.</span><wbr><span>injection</span></a>
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-1-0" pageid="repository::com.pkoerfer.repository.injection//CALL_TIMEOUT/#/PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository.injection/-c-a-l-l_-t-i-m-e-o-u-t.html"><span><span>CALL_TIMEOUT</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-1-1" pageid="repository::com.pkoerfer.repository.injection//JSON_MEDIA_TYPE/#/PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository.injection/-j-s-o-n_-m-e-d-i-a_-t-y-p-e.html"><span><span>JSON_MEDIA_TYPE</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-1-2" pageid="repository::com.pkoerfer.repository.injection//remoteModule/#/PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository.injection/remote-module.html"><span>remote</span><wbr><span><span>Module</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="repository-nav-submenu-2" pageid="repository::com.pkoerfer.repository.pagingsources////PointingToDeclaration//1635888265"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;repository-nav-submenu-2&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="repository/com.pkoerfer.repository.pagingsources/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>repository.</span><wbr><span><span>pagingsources</span></span></a>
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-2-0" pageid="repository::com.pkoerfer.repository.pagingsources/PopularMoviesPagingSource///PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository.pagingsources/-popular-movies-paging-source/index.html"><span>Popular</span><wbr><span>Movies</span><wbr><span>Paging</span><wbr><span><span>Source</span></span></a>
    </div> 
   </div> 
  </div> 
  <div class="sideMenuPart" id="repository-nav-submenu-3" pageid="repository::com.pkoerfer.repository.services////PointingToDeclaration//1635888265"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;repository-nav-submenu-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="repository/com.pkoerfer.repository.services/index.html"><span>com.</span><wbr><span>pkoerfer.</span><wbr><span>repository.</span><wbr><span>services</span></a>
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-3-0" pageid="repository::com.pkoerfer.repository.services/MovieService///PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository.services/-movie-service/index.html"><span>Movie</span><wbr><span><span>Service</span></span></a>
    </div> 
   </div> 
   <div class="sideMenuPart" id="repository-nav-submenu-3-1" pageid="repository::com.pkoerfer.repository.services/SearchService///PointingToDeclaration//1635888265"> 
    <div class="overview">
     <a href="repository/com.pkoerfer.repository.services/-search-service/index.html"><span>Search</span><wbr><span><span>Service</span></span></a>
    </div> 
   </div> 
  </div> 
 </div> 
</div>
